<h1>Russian losses</h1>
<div class="info">
  <ul>
    <li>Personnel: {{personnel}}</li>
    <li>Tanks: {{tanks}}</li>
    <li>AFV: {{afv}}</li>
    <li>Artillery: {{artillery}}</li>
    <li>MLRS: {{mlrs}}</li>
    <li>ADF: {{adf}}</li>
    <li>Jets: {{jets}}</li>
    <li>Helicopters: {{helicopters}}</li>
    <li>UAV: {{uav}}</li>
    <li>Cruise Missiles: {{cruiseMissiles}}</li>
    <li>War Ships: {{warShips}}</li>
    <li>Vehicles: {{vehicles}}</li>
    <li>Special Equipment: {{specialEquipment}}</li>
  </ul>
</div>