<div class="info">
  <div class="bhead">
  <h1>Russia's Losses: {{date}}</h1>
  </div>
  <hr/>
  <div class="bbody">
  <ul>
    <li>Personnel: {{personnel}}</li>
    <li>Tanks: {{tanks}}</li>
    <li>AFV: {{afv}}</li>
    <li>Artillery: {{artillery}}</li>
    <li>MLRS: {{mlrs}}</li>
    <li>ADF: {{adf}}</li>
    <li>Jets: {{jets}}</li>
    <li>Helicopters: {{helicopters}}</li>
    <li>UAV: {{uav}}</li>
    <li>Cruise Missiles: {{cruiseMissiles}}</li>
    <li>War Ships: {{warShips}}</li>
    <li>Vehicles: {{vehicles}}</li>
    <li>Special Equipment: {{specialEquipment}}</li>
  </ul>
</div>