<div class="center-content">
    <div class="sources">
        <div class="bhead">
            <h1>{{ 'SOURCES.TITLE' | translate }}</h1>
        </div>
        <hr/>
        <ul class="top">
            <li>{{ 'SOURCES.LOSSES_SOURCES' | translate }}</li>
            <ul class="inner">
                <li><a href="https://www.facebook.com/GeneralStaff.ua" target="_blank">facebook</a></li>
                <li><a href="https://twitter.com/GeneralStaffUA" target="_blank">twitter</a></li>
            </ul>
            <li>{{ 'SOURCES.LOSSES_DATASET' | translate }}</li>
            <ul class="inner">
                <li><a href="https://github.com/rvcl3n/russian-losses-dashboards/blob/main/russian-losses.json" target="_blank">dataset json</a></li>
            </ul>
            <li>{{ 'SOURCES.LOSSES_REPO' | translate }}</li>
            <ul class="inner">
                <li><a href="https://github.com/rvcl3n/russian-losses-dashboards" target="_blank">github</a></li>
            </ul>
            <li>{{ 'SOURCES.CONTACT' | translate }}</li>
            <ul class="inner">
                <li><a href="https://twitter.com/GermanRoux" target="_blank">twitter</a></li>
            </ul>
        </ul>
    </div>
</div>

