<div class="center-content">
    <div class="sources">
        <div class="bhead">
            <h1>Sources</h1>
        </div>
        <hr/>
        <ul class="top">
            <li>Losses Sources: General Staff of the Ukrainian Armed Forces official pages</li>
            <ul class="inner">
                <li><a href="https://www.facebook.com/GeneralStaff.ua" target="_blank">facebook</a></li>
                <li><a href="https://twitter.com/GeneralStaffUA" target="_blank">twitter</a></li>
            </ul>
            <li>The Losses Dataset</li>
            <ul class="inner">
                <li><a href="https://github.com/rvcl3n/russian-losses-dashboards/blob/main/russian-losses.json" target="_blank">link to the json</a></li>
            </ul>
            <li>The link to the project repository</li>
            <ul class="inner">
                <li><a href="https://github.com/rvcl3n/russian-losses-dashboards" target="_blank">github</a></li>
            </ul>
            <li>If you found an error in the data or have any suggestions please feel free to reach out to me on my twitter</li>
            <ul class="inner">
                <li><a href="https://twitter.com/GermanRoux" target="_blank">my twitter</a></li>
            </ul>
        </ul>
    </div>
</div>

